<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campsites</title>
</head>
<body>
    <h1>All Campsites</h1>
    <a href="/campsites/new">New Campsite</a>
    <% for(let campsite of campsites) { %>
        <div>
            <ul>
                <li><%= campsite.title %> </li>
                <li><%= campsite.location %></li>
                <a href="/campsites/<%=campsite._id%>">More.</a>
            </ul>
        </div> 
    <% } %>    


</body>
</html>