<% layout('layouts/boilerplate') %>
    <form action="/campsites" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="campsite[title]" id="title">
        </div>
        <br>
        <div>
            <label for="location">Location:</label>
            <input type="text" name="campsite[location]" id="location">
        </div>
        <br>
        <div>
            <label for="description">Description:</label>
            <textarea name="campsite[description]" id="description" cols="15" rows="5"></textarea>
        </div>
        <br>
        <button type="submit">Add</button>
    </form>
    <br>
    <a href="/campsites">Cancel</a>